.Bottomnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;

  border-top: 1px solid #f5f8fa;
  color: #14171a;
}
.navItems {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.navItem:hover {
  color: rgb(83, 76, 76);
}

@media only screen and (min-width: 600px) {
  .Bottomnav {
    display: none;
  }
}
