.Bottomnav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: 13px 25px;
  border-top: 1px solid #e1e8ed;
  color: #14171a;
}
.navItems {
  display: flex;
  justify-content: space-between;
}
.navItem {
}
.navItem:hover {
  color: rgb(83, 76, 76);
}

@media only screen and (min-width: 600px) {
  .Bottomnav {
    display: none;
  }
}
