.Comment {
  /* background-color: rgb(218, 10, 10); */
  margin-bottom: 63px;
}
.commentInput {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 10px;
  padding: 15px 18px;
  align-items: center;
}
.commentInput input {
  width: 100%;
}
.commentInput img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  .Comment {
    margin-bottom: 0px;
  }
}
