.Posts {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 9px;
  padding: 15px 18px;
  border-bottom: 1px solid #e1e8ed;
  font-size: 15px;
}
.left {
}
.profileImage {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.headerLeft {
  display: flex;
  gap: 14px;
  align-items: center;
}

.username {
  font-weight: bold;
}
.date {
  font-size: 12px;
}
.postText {
}
.postImagediv {
  padding-top: 5px;
}
.postImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.postInsight {
  display: flex;
  gap: 20px;
  padding: 10px 0 5px 0px;
  color: #41596f;
}
.Likes {
  display: flex;
  align-items: center;
  color: #41596f;
  gap: 5px;
  cursor: pointer;
}

.LikesActive {
  cursor: pointer;

  display: flex;
  align-items: center;
  color: red;
  gap: 5px;
}
.LikeLogo {
}

.Comments {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
}

.CommentLogo {
}
