.Profile {
  background-color: rgb(255, 255, 255);
  margin-bottom: 63px;
  font-size: 15px;
}

.ProfileHeader {
  padding: 15px 18px;
}
.ProfileHeadertop {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 15px;
}
.username {
  display: flex;
  align-items: center;
  gap: 1px;
}
.profileTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProfileHeader img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.joinedDate {
  display: flex;
  font-size: 13px;
  color: #364048;
}
.followData {
  display: flex;
  gap: 9px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .Profile {
    margin-bottom: 0px;
  }
}
