.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #f5f8fa;
}
.logo {
  font-weight: bold;
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #14171a;
}
.topnavright {
  font-size: 15px;
}
.profileimg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
/* @media only screen and (min-width: 600px) {
  .topnav {
    display: none;
  }
} */
